.header_container{
    width: 1200px;
    margin: auto;
    font-family: "Noto Sans KR", sans-serif;
}
/* 탑 */
.header_top_container{
    display: flex;
    margin-top: 8px;
    color: rgba(34, 34, 34, 0.7);
    font-size: 12px;
    justify-content: flex-end;
}
.header_top_content{
    text-align: right;
    margin-left: 20px;
    cursor: pointer;
}

/* 메인 */
.header_main_container{
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.header_main_logo_img{
    width: 120px;
    height: 24px;
    cursor: pointer;
}
.header_main_content{
    margin-right: 24px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header_main_icon_content{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_search_icon{
    font-size: 24px;
    stroke-width: 0.5;
    cursor: pointer;
}
.header_shop_icon{
    font-size: 24px;
    cursor: pointer;
}

/* 카테고리 */
.header_category_container{
    display: flex;
    height: 45px;
}
.header_category_first_content{
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 15px;
    cursor: pointer;
}
.header_category_content{
    font-size: 16px;
    margin-left: 24px;
    padding-bottom: 6px;
    padding-top: 15px;
    cursor: pointer;
}